.DPFrame
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px solid;
    WIDTH: 120px;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: black 1px solid;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: transparent;
    FONT-VARIANT: normal
}
#dpDropDownTable
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: lightgrey 1px solid;
    DISPLAY: none;
    BORDER-LEFT: lightgrey 1px solid;
    CURSOR: default;
    BORDER-BOTTOM: black 1px solid;
    POSITION: absolute;
    BACKGROUND-COLOR: #ffffff
}

.DPTitle
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #e5e5e5;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPWeekName
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: black 1px solid;
    FONT-STYLE: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPCellOther
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: silver;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPCell
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPCellSelect
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    CURSOR: hand;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #cccccc;
    TEXT-ALIGN: center;
    FONT-VARIANT: normal
}
.DPYear
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT: 9pt 宋体;
    WIDTH: 35px;
    BORDER-LEFT: 0px;
    COLOR: #333333;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: right
    
}
.DPYearDes
{
    BACKGROUND-COLOR: transparent
}
.DPMonth
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT: 9pt 宋体;
    WIDTH: 18px;
    BORDER-LEFT: 0px;
    COLOR: #333333;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: right
}
.DPMonthDes
{
    BACKGROUND-COLOR: transparent
}
.DPDay
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT: 9pt 宋体;
    WIDTH: 18px;
    BORDER-LEFT: 0px;
    COLOR: #333333;
    BORDER-BOTTOM: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: right
}
.DPDayDes
{
    BACKGROUND-COLOR: transparent;
    WIDTH: 8px;
}
.DPSep
{
    WIDTH: 8px;
    BACKGROUND-COLOR: transparent
}
A.DPDropBtn:link
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.DPDropBtn:visited
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.DPDropBtn:hover
{
    COLOR: #blue;
    TEXT-DECORATION: none
}
.DPBtn
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: white 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: white 1px solid;
    WIDTH: 16px;
    COLOR: black;
    LINE-HEIGHT: normal;
    BORDER-BOTTOM: black 1px solid;
    FONT-STYLE: normal;
    BACKGROUND-COLOR: #cccccc;
    FONT-VARIANT: normal
}
main {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
.ss {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.h1 {
	FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.bg1 {
	HEIGHT: 22px; BACKGROUND-COLOR: #e7e7e7
}
.td01 {
	HEIGHT: 22px
}
.a2 {
	FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 150%
}
.h02 {
	FONT-SIZE: 12px; COLOR: #4d4d4d; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.h03 {
	FONT-SIZE: 12px; COLOR: #000099; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}

.a3 {
	FONT-SIZE: 12px; COLOR: #000099; LINE-HEIGHT: 150%
}

.input_notice {
	background-color: #EDECEC;
	font-size: 12px;
	font-weight: bold;
	FONT-STYLE: strong;
}

.view_notice {
	background-color: #EDECEC;
	font-size: 12px;
	font-weight: bold;
	FONT-STYLE: strong;
}

.td_blank {  background-color: #FFFFFF}
.print_head {
	color: #FF0000;
	font-family: "宋体";
	font-size: medium;
}

.lastVisitDate
{
    BORDER-RIGHT: lightskyblue 1px solid;
    BORDER-TOP: lightskyblue 1px solid;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: lightskyblue 1px solid;
    COLOR: darkblue;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: lightskyblue 1px solid;
    BACKGROUND-COLOR: #e0f4f3;
    TEXT-ALIGN: center
}
.usageCount
{
    BORDER-RIGHT: lightskyblue 1px solid;
    BORDER-TOP: lightskyblue 1px solid;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: lightskyblue 1px solid;
    COLOR: darkblue;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: lightskyblue 1px solid;
    BACKGROUND-COLOR: #e0f4f3;
    TEXT-ALIGN: center
}
.onlineCount
{
    BORDER-RIGHT: lightskyblue 1px solid;
    BORDER-TOP: lightskyblue 1px solid;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: lightskyblue 1px solid;
    COLOR: darkblue;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: lightskyblue 1px solid;
    BACKGROUND-COLOR: #e0f4f3;
    TEXT-ALIGN: center
}

.goHome
{
    BORDER-RIGHT: lightskyblue 1px solid;
    BORDER-TOP: lightskyblue 1px solid;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: lightskyblue 1px solid;
    COLOR: darkblue;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: lightskyblue 1px solid;
    BACKGROUND-COLOR: lightskyblue;
    TEXT-ALIGN: center
}
.help
{
    BORDER-RIGHT: lightskyblue 1px solid;
    BORDER-TOP: lightskyblue 1px solid;
    FONT-SIZE: 12px;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: lightskyblue 1px solid;
    COLOR: darkblue;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: lightskyblue 1px solid;
    BACKGROUND-COLOR: lightskyblue;
    TEXT-ALIGN: center
}


.zxTime_frame {
    BORDER-RIGHT: black 1px solid; 
    BORDER-TOP: black 1px solid; 
    FONT-WEIGHT: normal; 
    FONT-SIZE: 10pt; 
    BORDER-LEFT: black 1px solid; 
    HEIGHT: 20px;
    LINE-HEIGHT: normal; 
    BORDER-BOTTOM: black 1px solid; 
    FONT-STYLE: normal; 
    BACKGROUND-COLOR: transparent; 
	border-color:#333333;
    FONT-VARIANT: normal;
   }
  
 .zxTime_arrow {
    width: 16px;
    height: 11px;
    font-family: Webdings;
    font-size: 10px;
    line-height: 2px;
    padding-left: 2px;
    cursor: default;
   }

  .zxTime_input {
     BORDER-RIGHT: 0px;
     BORDER-TOP: 0px; 
     FONT: 9pt 宋体; 
     BORDER-LEFT: 0px; 
     COLOR: #333333; 
     BORDER-BOTTOM: 0px; 
     BACKGROUND-COLOR: transparent; 
     width: 15px;
     height: 17px;
     border: 0px solid black;
     
     font-size: 10pt;
     text-align: right;
     text-valign: center;
   }
   
   .zxLongYear_input {
     BORDER-RIGHT: 0px;
     BORDER-TOP: 0px; 
     FONT: 9pt 宋体; 
     BORDER-LEFT: 0px; 
     COLOR: #333333; 
     BORDER-BOTTOM: 0px; 
     BACKGROUND-COLOR: transparent; 
     width: 30px;
     height: 17px;
     border: 0px solid black;
     
     font-size: 10pt;
     text-align: right;
     text-valign: center;
   }
	
	.zxShortYear_input {
     BORDER-RIGHT: 0px;
     BORDER-TOP: 0px; 
     FONT: 9pt 宋体; 
     BORDER-LEFT: 0px; 
     COLOR: #333333; 
     BORDER-BOTTOM: 0px; 
     BACKGROUND-COLOR: transparent; 
     width: 15px;
     height: 17px;
     border: 0px solid black;
     
     font-size: 10pt;
     text-align: right;
     text-valign: center;
   }body{}