BODY
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 12px;
	background: #fff;
	padding-bottom: 0px;
	margin: 0px auto;
	color: #000;
	padding-top: 0px;
	text-align: center;
}
UNKNOWN
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
DIV
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
FORM
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
UL
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
OL
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
LI
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
SPAN
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
P
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
IMG
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
A IMG
{
	border-top-width: 0px;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	border-right-width: 0px;
}
H1
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
H2
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
H3
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
H4
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
H5
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
H6
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
UL
{
	list-style-type: none;
}
OL
{
	list-style-type: none;
}
LI
{
	list-style-type: none;
}
TABLE
{
	font-size: 12px;
}
TD
{
	font-size: 12px;
}
INPUT
{
	font-size: 12px;
}
A
{
	color: #000;
	text-decoration: none;
}
A:hover
{
	text-decoration: underline;
}
.c2
{
	border-top-width: 0px;
	clear: both;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px auto;
	width: 100%;
	padding-top: 0px;
	text-align: center;
	border-right-width: 0px;
}
.c3
{
	border-top-width: 0px;
	clear: both;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px auto;
	width: 100%;
	padding-top: 0px;
	text-align: center;
	border-right-width: 0px;
}
.c4
{
	border-top-width: 0px;
	clear: both;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px auto;
	width: 100%;
	padding-top: 0px;
	text-align: center;
	border-right-width: 0px;
}
.c5
{
	border-top-width: 0px;
	clear: both;
	padding-right: 0px;
	padding-left: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	padding-bottom: 0px;
	margin: 0px auto;
	width: 100%;
	padding-top: 0px;
	text-align: center;
	border-right-width: 0px;
}
.c2 LI
{
	float: left;
	width: 49.5%;
}
.c2 DIV
{
	float: left;
	width: 49.5%;
}
.c3 LI
{
	float: left;
	width: 33%;
}
.c3 DIV
{
	float: left;
	width: 33%;
}
.c4 LI
{
	float: left;
	width: 25%;
}
.c4 DIV
{
	float: left;
	width: 25%;
}
.c5 LI
{
	float: left;
	width: 20%;
}
.c5 DIV
{
	float: left;
	width: 20%;
}
.Picgroup
{
	clear: both;
	margin: 0px auto;
	width: 100%;
	text-align: center;
}
.Picgroup IMG
{
	display: block;
	margin: 0px auto;
}
.Picgroup H5
{
	font-weight: normal;
	width: 100%;
	text-align: center;
}
.Picgroup LI
{
	display: inline;
	text-align: center;
}
.PicTextGroup
{
	margin: 0px auto;
	width: 92%;
	color: #333333;
	line-height: 20px;
	text-align: left;
}
.PicTextGroup IMG
{
	float: left;
	margin: 0px 4px 0px 0px;
}
.PicTextGroup A
{
	color: #333333;
}
.PicTextGroup P
{
	clear: none;
}
.PicTextGroup H4
{
	clear: none;
	text-align: right;
}
.f12_FF33
{
	color: #ff3300;
}
.f12_FF33 A
{
	color: #ff3300;
}
.f12_3333
{
	color: #333333;
}
.f12_3333 A
{
	color: #333333;
}
.f12_6666
{
	color: #666666;
}
.f12_6666 A
{
	color: #666666;
}
.f12_F68A
{
	color: #f68a08;
}
.f12_F68A A
{
	color: #f68a08;
}
.f12_54A7
{
	color: #54a701;
}
.f12_54A7 A
{
	color: #54a701;
}
.f12_246D
{
	color: #246db6;
}
.f12_246D A
{
	color: #246db6;
}
.f14list .more
{
	text-align: right;
}
.f14list UL
{
	margin: auto;
	width: 100%;
}
.f14list LI
{
	font-size: 14px;
	color: #333333;
	line-height: 24px;
	text-align: left;
}
.f14list LI A
{
	color: #333333;
}
.f14list .red
{
	color: #f00;
}
.f14list .red A
{
	color: #f00;
}
.f14list .blue
{
	color: #006699;
}
.f14list .blue A
{
	color: #006699;
}
.f12list UL
{
	margin: auto;
	width: 100%;
}
.f12list .more
{
	text-align: right;
}
.f12list LI
{
	font-size: 12px;
	color: #333333;
	line-height: 20px;
	text-align: left;
}
.f12list P
{
	font-size: 12px;
	color: #333333;
	line-height: 20px;
	text-align: left;
}
.f12list LI A
{
	color: #333333;
}
.f12list P A
{
	color: #333333;
}
.f12list .f12_FF33
{
	color: #ff3300;
}
.f12list .f12_FF33 A
{
	color: #ff3300;
}
.fb
{
	font-weight: bold;
}
.Area
{
	clear: both;
	margin: 0px auto;
	width: 950px;
	height: auto;
}
.unline
{
	text-decoration: underline;
}
.unline A
{
	text-decoration: underline;
}
.f12
{
	font-size: 12px;
}
.f14
{
	font-size: 14px;
}
.f16
{
	font-size: 16px;
}
.lh26
{
	line-height: 26px;
}
.lh24
{
	line-height: 24px;
}
.lh22
{
	line-height: 22px;
}
.lh20
{
	line-height: 20px;
}
.lh18
{
	line-height: 18px;
}
.img1
{
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.clear
{
	clear: both;
	font-size: 1px;
	visibility: hidden;
	width: 1px;
	height: 1px;
}
.blank5
{
	clear: both;
	font-size: 1px;
	background: #fff;
	margin: 0px auto;
	width: 100%;
	height: 5px;
}
.blank5_t
{
	clear: both;
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 5px;
}
.blank3
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 3px;
}
.blank7
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 7px;
}
.blank8
{
	clear: both;
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 8px;
}
.blank10
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 10px;
}
.blank12
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 12px;
}
.blank14
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 14px;
}
.blank18
{
	clear: both;
	font-size: 1px;
	background: #fff;
	margin: 0px auto;
	width: 100%;
	height: 18px;
}
.bord01
{
	border-top: #d8d8d8 1px solid;
}
.bord02
{
	border-bottom: #d8d8d8 1px solid;
}
.bord03
{
	border-top: #afd8ee 1px solid;
}
.bord04
{
	border-bottom: #afd8ee 1px solid;
}
.txtleft
{
	text-align: left;
}
.txtright
{
	text-align: right;
}
.txtcenter
{
	text-align: center;
}
.w98
{
	width: 98%;
}
.w96
{
	width: 96%;
}
.w95
{
	width: 95%;
}
.w92
{
	width: 92%;
}
.w90
{
	width: 90%;
}
.w85
{
	width: 85%;
}
.w80
{
	width: 80%;
}
.w75
{
	width: 75%;
}
.w70
{
	width: 70%;
}
.w65
{
	width: 65%;
}
.w60
{
	width: 60%;
}
.w55
{
	width: 55%;
}
.w50
{
	width: 50%;
}
.more
{
	padding-right: 5px;
	text-align: right;
}
.ad_Col
{
	margin: 8px auto;
}
#indexNav
{
	background: #ffffff;
	padding-bottom: 3px;
	margin: 0px auto;
	width: 950px;
	color: #000;
	padding-top: 3px;
	height: 21px;
	text-align: left;
}
#indexNav UL
{
	clear: none;
	padding-right: 6px;
}
#indexNav LI
{
	padding-right: 2px;
	padding-left: 0px;
	float: left;
	padding-bottom: 0px;
	margin: 5px auto 0px;
	line-height: 14px;
	padding-top: 0px;
	list-style-type: none;
}
#indexNav .end
{
	padding-right: 0px;
}
#indexNav .red A
{
	color: #f00;
}
#indexNav A
{
	color: #000;
}
#channelNav
{
	border-top: #fff 3px solid;
	background: #efebef;
	margin: 0px auto;
	width: 950px;
	color: #000;
	border-bottom: #fff 4px solid;
	height: 22px;
	text-align: left;
}
#channelNav UL
{
	clear: none;
	padding-right: 6px;
}
#channelNav LI
{
	padding-right: 2px;
	padding-left: 0px;
	float: left;
	padding-bottom: 0px;
	margin: 5px auto 0px;
	line-height: 14px;
	padding-top: 0px;
	list-style-type: none;
}
#channelNav .end
{
	padding-right: 0px;
}
#channelNav .red A
{
	color: #f00;
}
#channelNav A
{
	color: #000;
}
#foot
{
	padding-bottom: 5px;
	color: #333;
	line-height: 20px;
	padding-top: 10px;
}
#foot A
{
	color: #333;
}
.blank3
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 3px;
}
.blank5
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 5px;
}
.blank8_ff
{
	font-size: 1px;
	margin: 0px auto;
	width: 1px;
	height: 0px;
}
.blank5_white
{
	font-size: 1px;
	background: #fff;
	margin: 0px auto;
	width: 100%;
	height: 5px;
}
.blank10
{
	font-size: 1px;
	margin: 0px auto;
	width: 100%;
	height: 10px;
}
